* {
    box-sizing: border-box;
    transition: all 0.5s ease;
}
body {
    background: #ccc url("../images/swirl.png") center repeat;
    display: flex;
    flex-flow: column;
    line-height: 1.5em;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: "Fredericka the Great", Georgia, 'Times New Roman', Times, serif;
}
h1 { font-size: 3em; }
h2 { font-size: 2.25em; }

h1 .subtitle { font-size: 0.75em;}

a { color: #00BEE6; text-decoration: none;}
a:hover { color: #52CC52; }
a:visited { color: #B045E6; }

body, button { 
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

/* Nav colors 
    #003440 (dark blue (HSB 191, 100, 25) ) 
    #005366 (next blue (HSB 191, 100, 40) )
*/

/* Sections */
header h1, nav, main, footer p,
form {
    margin: 0 auto;
    width: 90%;
        max-width: 1080px;
}

header, main, footer {
    padding: 2em;
}

header, footer { 
    background-color: #222; 
    color: #eee; 
}
main {
    margin: 1em auto;
    padding: 0;
}

footer {
    margin-top: auto;
    text-align: center;
}

nav {
    background: #003440;
    padding: 0.5em; 
}

/* Search */
#search {
    background: #005366;
    padding: 0.5em;
}


/* Buttons */
#buttons {
    display: flex;
    flex-wrap: wrap;
}
    #buttons button {
        background: #009EBF;
        border: 1px solid #0094B3;
        color: white;
        flex: 1 1 10em;
        margin: 0.5em;
        padding: 0.5em;
    }
    #buttons button:hover, .active {
        background: #52CC52;
    }

#images {
    display: flex;
    flex-wrap: wrap;
}
    figure {
        background: #fff;
        box-shadow: 2px 2px 5px 0 #ccc;
        flex: 1 1 auto;
        margin: 1em;
        padding: 0.5em;
    }

    figure img {
        width: 100%;
    }